{% extends 'layout.html' %}

{% block konten %}
    <h1 style="color:goldenrod">Blog Page</h1>

    <b>hari hari bosan</b>

    <ul>
        {% for day in DayCoding%}
        <li>{{day}}</li>
        {% endfor %}
    </ul>

   <hr>
    {% for data in Datas %}
    <h1>{{ data.judul}}</h1>
    <i>{{ data.tanggal}}</i>
    <p>{{ data.isi}}</p>
    {% endfor %}

    <hr>

    <p>Apakah hari ini 17 Agustus ?</p>
    {% if day == 17 and month == 8 %}
    <h1>Merdeka...⭐🗿🚩</h1>
    {% else %}
    <p>tidak !</p>
    {% endif %}

    {% endblock %}